html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

body {
    background: #fff;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
}

.body {
    padding:18px;
}


#header h1 {
    color: fff;
    font-weight: normal;
    font-size: 16px;
    margin: .8em 0 .3em 0;
}

#header a {
    color: fff;
}



/* Blogito customizations */
.entry {
  padding-bottom: 2em;
}

.entry-date {
  color: #999;
}

#header {
  background: #67c;
  padding: 2em 1em 2em 1em;
}

a.header-main:link, a.header-main:visited {
  color: #fff;
  font-size: 3em;
  font-weight: bold;
}

.header-sub {
  color: #fff;
  font-size: 1.25em;
  font-style: italic;
}

.paginateButtons{
  clear: left;
}

#loginHeader {
  float: right;
  color: #fff;
}

